{% extends "base.html" %}

{% block content %}
{% include 'flashes.html' %}
<div class="container mx-auto text-center mt-3 mb-3">
<form method="post" name="contact-form" enctype="multipart/form-data">
  <div class="d-flex justify-content-center">
    <input class="form-control mx-3" style="width: 400px;" type="file" name="file">
    <button class="btn btn-success" type="submit" name="_upload">Upload</button>
  </div>
</form>
</div>
{% if files.items %}
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th class="w-25">Name</th>
      <th class="text-center">File type</th>
      <th class="text-center">Uploaded by</th>
      <th class="text-center">Upload time</th>
      <th class="text-center">Download</th>
      {% if user.is_admin %}
      <th class="text-center">Delete</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for f in files %}
    <tr>
      <td>
            <p class="fw-bold mb-1">{{ f.name }}</p>
      </td>
      <td class="text-center">
            <p class="fw-bold mb-1 ">{{ f.ftype }}</p>
      </td>
      <td class="text-center">
        <p class="fw-bold mb-1 ">{{f.fk.username}}</p>
      </td>
      <td class="text-center">
        <p class="fw-bold mb-1 ">{{ f.upload_time.strftime('%y-%m-%d %H:%M:%S')}} {{ tz }}</p>
      </td>
      <td class="text-center">
        <a href="{{url_for('download', file_url=f.url)}}" class="btn btn-primary ">Download</a>
      </td>
      {% if user.is_admin %}
        <td class="text-center">
          <a href="{{url_for('delete_file', file_url=f.url)}}"type="button" class="btn btn-danger">
            Delete
          </a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<h1 class="text-center">There are no files at now</h1>
{% endif %}
{% if files.pages > 1 %}
<!-- Pagination -->
<nav aria-label="Page navigation example" class="mx-auto">
  <ul class="pagination  mt-4 justify-content-center">
    {% if files.has_prev %}
    <li class="page-item mx-2">
      <a class="page-link" href="{{ url_for('get_files', page=files.prev_num) }}" aria-label="Previous">
        <span aria-hidden="false">&laquo;</span>
      </a>
    </li>
    <li class="page-item mx-2"><a class="page-link" href="{{ url_for('get_files', page=files.prev_num) }}">{{ files.prev_num }}</a></li>
    {% endif %}
    <li class="page-item active mx-2"><p class="page-link"> {{files.page}} </p></li>
    {% if files.has_next %}
    <li class="page-item mx-2"><a class="page-link" href="{{ url_for('get_files', page=files.next_num) }}">{{ files.next_num }}</a></li>
    <li class="page-item mx-2">
      <a class="page-link" href="{{ url_for('get_files', page=files.next_num) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
<!-- End Pagination -->
{% endblock %}